<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rubicon - Grupa - Kraje</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div>Zadanie 3 -  podziale na grupy klienta wyświetli kraj, z którego pochodzi największa liczba klientów w danej grupie. Jeśli więcej niż jeden kraj ma tę samą największą liczbę klientów - powinny być wyświetlone wszystkie kraje, po przecinku.
    </div>
    <div class="client">
        <div class="customer">Grupa</div>
        <div class="country">Kraje</div>
    </div>
    <div th:each="country : ${countries}" class="client">
        <div th:text="${country.group}" class="group"></div>
        <div th:text="${country.country}" class="country"></div>
    </div>
</div>
</body>
</html>