<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="logo" th:fragment="logo">
    <p>Rubicon</p>
</div>
<div id="menu" th:fragment="menu">
    <a href="/" class="button">Wczytanie</a>
    <a href="/order" class="button">Ranking leków</a>
    <a href="/country" class="button">Grupa - Kraje</a>
    <a href="/status" class="button">Status - Klienci</a>
    <a href="/consonants" class="button">Spółgłoski</a>
</div>
</body>
</html>